.font1{
    font-size: 5vw;
    font-family: 'Crimson Pro', serif;    
}

strong{
    color: lightblue;
}

@media (max-width: 500px) {
    .font1{
        font-size: 10vw;
        font-family: 'Crimson Pro', serif;
    }

    .font2{
        padding-top: 20px;
    }

    .image{
        display: block;
        margin-right: auto;
        margin-left: auto;
        height: 100px;
    }

    .image2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
    }

}

@media (max-width: 400px) {
    .image2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 250px;
    }

    .image2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 250px;
    }

    .font2{
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .image2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
    }

    .image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 400px;
    }

    .font2{
        margin-top: 20px;
    }
}